.sectionHeader
{
    margin: 25px;
    padding: 15px;
    background-image: url("img/paper_dark.jpg");
}

.sectionTitle
{
    margin: 5px;
    padding: 5px;
}

.subSectionHeader
{
    margin: 5px;
    padding: 5px;
    background-image: url("img/paper.jpg");
}

#pathsHeader
{
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
}

#novicePathHeader
{
    margin: 5px;
    padding: 5px;
    background-color: blue;
}

#expertPathHeader
{
    margin: 5px;
    padding: 5px;
    background-color: blueviolet;
}

#masterPathHeader
{
    margin: 5px;
    padding: 5px;
    background-color: red;
}

#ancestriesHeader
{
    margin: 5px;
    padding: 5px;
}

#magicHeader
{
    margin: 5px;
    padding: 5px;
    background-color: pink;
}

#itemsHeader
{
    margin: 5px;
    padding: 5px;
    background-color: brown;
}

.pathHeader
{
    margin: 5px;
    padding: 15px;
    background-color: lightgray;
    background-image: url("img/wood.jpg");
}

#professionHeader
{
    margin: 5px;
    padding: 5px;
    background-color: orange;
}

#religionHeader
{
    margin: 5px;
    padding: 5px;
    background-color: green;
}

#monstersHeader
{
    margin: 5px;
    padding: 5px;
    background-color: turquoise;
}

.pathField
{
    margin: 5px;
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.pathLevel
{
    margin: 5px;
    padding: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.pathTitle
{
    font-weight: bold;
    font-size: large;
}

.subSectionTitle
{
    font-weight: bold;
    font-size: larger;
}

.sectionTitle
{
    font-weight: bold;
    font-size: x-large;
}

.pathLevelTitle
{
    font-weight: bold;
    font-size: medium;
}

.fileSource
{
    font-style: italic;
    color: gray;
}

.contributor
{
    font-style: italic;
    color: gray;
    font-size: x-small;
    font-weight: normal;
}

.pathLevelCollection
{
    padding: 5px;
    background-color: rgb(200, 200, 200);
    background-image: url("img/sand.jpg");
}

.pathContent
{
    padding: 5px;
}

.pathBioCollection
{
    padding: 5px;
    background-color: rgb(222, 222, 222);
    background-image: url("img/sand2.jpg");
}